
.h2{
    box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.5em;
  margin-bottom: 2em;
  /*background-color: rgb(192, 45, 26);*/
  color: #fff;

}
img {
  border-radius: 20%;
  bottom:4px
}